/* app css stylesheet */
body {
    margin-top: 60px;
}

.well {
    width: 400px;
    border-radius: 5px;
    margin: 0 auto;
}

.btn-login, .btn-register, .btn-cancel {
    width: 100%;
    margin-top: 20px;
}

.welcome-buttons {
    margin: 40px 20px;
    text-align: center;
}

.welcome-buttons > a {
    margin-left: 10px;
}

.btn-add-project, .btn-add-issue {
    width: 200px;
}

.register-btn {
    text-align: center;
}

.buttons {
    margin-left: 32%;
}

img {
    display: block;
    margin: 0 auto;
}

.register {
    text-align: center;
}

h1 {
    text-align: center;
}

.navbar-brand {
    font-size: 22px;
}

.pagination > li > a {
    background-color: #2B3E50;
}

a {
    font-size: 16px;
}

li > span {
    font-size: 16px;
}

.user {
    display: block;
    padding: 10px 15px;
}

.hoverable {
    cursor: pointer;
}

h2.center-title {
    text-align: center;
}

.hoverable:hover {
    color: #ebebeb;
    text-decoration: underline;
}

#projects {
    width: 29%;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #2b3e50;
    vertical-align: top;
    display: inline-block;
}

.pagination-div {
    margin: 0 auto;
    text-align: center;
}
/*search input*/

.search {
    margin-left: 10px;
    margin-bottom: 30px;
    vertical-align: middle;
}

/*.search > h2 {*/
    /*display: inline;*/
/*}*/

.search > input {
    width: 250px;
    display: inline;
}

/*end search input*/

.project {
    text-align: center;
    width: 300px;
    font-size: 20px;
    margin: 10px 10px;
    padding: 20px 20px;
}

.project:hover {
    background-color: #2b3e50;
}

#projects > h2 {
    margin-top: 0;
    text-align: center;
}

#projects > div  > ul > li {
    list-style: none;
    display: block;
}

#projects > div  > ul > li > a {
    text-decoration: none;
}
/*table styles*/
.table-my-issues {
    width: 100%;
    border-radius: 10px;
    margin-left: 10px;
    display: inline-block;
}

th.my-project-description, th.my-project-name {
    width: 42.5%;
}

th.issue-name, th.description {
    width: 33%;
}

th.project-name {
    width: 20%;
}
th.project-id {
    width: 5%;
}

th.date, th.status {
    width: 9%;
}
/*End table styles*/

p {
    border: 1px solid #ebebeb;
    padding-top: 8px;
    padding-bottom: 8px;
}

.panel-body {
    background-color: white;
    color: #4E5D6C;
}

#loading-bar-spinner{
    left: 48%;
    top: 10%;
}

#app-footer h5 {
    text-align: center;
}
