/* app css stylesheet */
body {
    margin-top: 60px;
}

.well {
    width: 400px;
    border-radius: 5px;
    margin: 0 auto;
}

.btn-login, .btn-register, .btn-cancel {
    width: 100%;
    margin-top: 20px;
}

.btn-add-project, .btn-add-issue {
    width: 200px;
}

.register-btn {
    text-align: center;
}

.buttons {
    margin-left: 32%;
}

img {
    display: block;
    margin: 0 auto;
}

.register {
    text-align: center;
}

h1 {
    text-align: center;
}

.navbar-brand {
    font-size: 22px;
}

.pagination > li > a {
    background-color: #2B3E50;
}

a {
    font-size: 16px;
}

li > span {
    font-size: 16px;
}

.user {
    display: block;
    padding: 10px 15px;
}

.hoverable {
    cursor: pointer;
}

h2.project-title {
    text-align: center;
}

.hoverable:hover {
    color: #ebebeb;
    text-decoration: underline;
}

#projects {
    width: 29%;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #2b3e50;
    vertical-align: top;
    display: inline-block;
}

#projects > h2 {
    margin-top: 0;
    text-align: center;
}

#projects > div  > ul > li {
    list-style: none;
    display: block;
}

#projects > div  > ul > li > a {
    text-decoration: none;
}

.table-my-issues {
    width: 67%;
    border-radius: 10px;
    margin-left: 10px;
    display: inline-block;
}

td.issue-name, td.description {
    width: 35%;
}

p {
    border: 1px solid #ebebeb;
    padding-top: 8px;
    padding-bottom: 8px;
}

#app-footer h5 {
    text-align: center;
}