<div class="jumbotron">
    <h2 class="center-title">Edit Project</h2>
    <div>
        <form name="editProjectForm">
            <div class="form-group">
                <label for="project-name">Name</label>
                <input type="text" ng-model="projectData.Name" class="form-control" id="project-name" placeholder="Project Name" required/>
            </div>

            <div class="form-group">
                <label for="project-leader">Leader</label>
                <select ng-model="projectData.Lead.Id" id="project-leader" class="form-control">
                    <option ng-repeat="user in users | orderBy:'Username'" ng-selected="{{user.Username == projectData.Lead.Username}}" value="{{user.Id}}">{{user.Username}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="project-key">Project Key</label>
                <input type="text" ng-disabled="true" ng-model="projectData.ProjectKey" class="form-control" id="project-key" placeholder="Project Key" required/>
            </div>

            <div class="form-group">
                <label for="project-priorities">Priorities (comma separated)</label>
                <input type="text" ng-model="projectData.Priorities" class="form-control" id="project-priorities"
                       placeholder="Available Priorities For The Issues" />
            </div>

            <div class="form-group">
                <label for="project-labels">Labels (comma separated)</label>
                <input type="text" ng-model="projectData.Labels" class="form-control" id="project-labels" placeholder="Labels" />
                <br>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" ng-model="projectData.Description" minlength="5" id="description" placeholder="Description" required></textarea>
            </div>
            <button type="submit" class="btn btn-success btn-add-project" ng-disabled="editProjectForm.$invalid" ng-click="editProject(projectData)">Save</button>
            <a class="btn btn-info btn-add-project" href="#/projects/{{projectData.Id}}">Back</a>
        </form>
    </div>
</div>