<div class="jumbotron" ng-controller="ProjectController">
    <h1>All Projects</h1>
    <div class="search">
        <label>Search:</label>
        <input type="text" ng-model="search" placeholder="Search"/>
    </div>
    <div class="project" style="display: inline-block" ng-repeat="project in projects">
        <a href="#projects/{{project.Id}}">{{project.Name}}</a>
    </div>
    <div class="pagination-div">
        <pagination total-items="totalProjects" ng-model="projectParams.startPage"
                    items-per-page="projectParams.pageSize" ng-change="getAllProjects()"
                    max-size="9" boundary-links="true"
                    class="aligner">
        </pagination>
    </div>

</div>
