<div class="well bs-component">
    <form name="ChangePasswordForm">
        <fieldset>
            <legend>Change Password</legend>
            <div>
                <label for="oldPassword">Old Password</label>
                <div>
                    <input type="password" class="form-control"  id="oldPassword" ng-model="passwordData.OldPassword" placeholder="Old Password" required="required">
                </div>
            </div>
            <div>
                <label for="newPassword" >New Password</label>
                <div>
                    <input type="password" class="form-control" minlength="6" maxlength="100" id="newPassword" ng-model="passwordData.NewPassword" placeholder="New Password" required="required">
                </div>
            </div>
            <div>
                <label for="confirmPassword">Confirm Password</label>
                <div >
                    <input type="password" class="form-control" minlength="6" maxlength="100" id="confirmPassword" ng-model="passwordData.ConfirmPassword" placeholder="Confirm Password" required="required">
                </div>
            </div>
        </fieldset>
    </form>
    <div>
        <div class="register-btn">
            <button ng-disabled="ChangePasswordForm.$invalid || passwordData.NewPassword != passwordData.ConfirmPassword" ng-click="changePassword(passwordData)" type="submit" class="btn btn-success btn-register">Change Password</button>
            <a href="#/home/user" class="btn btn-primary btn-cancel">Cancel</a>
        </div>
    </div>
</div>