<div class="jumbotron table table-striped table-hover">
    <h1>Dashboard</h1>
    <div id="projects">
        <h2>Affiliated Projects</h2>
        <div>
            <ul>
                <li ng-repeat="project in projects.Projects">
                    <span class="glyphicon glyphicon-triangle-right"></span>
                    <a href="">{{project.Name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-my-issues">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <td>Issue</td>
                <td>Description</td>
                <td>Project</td>
                <td>Due Date</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="issue in issues">
                <td class="hoverable" ng-click="viewIssue(issue.Id)">{{issue.Title}}</td>
                <td>{{issue.Description}}</td>
                <td class="hoverable" ng-click="viewProject(issue.Project.Id)">{{issue.Project.Name}}</td>
                <td>{{issue.DueDate | date:'dd-MM-yyyy'}}</td>
            </tr>
            </tbody>
        </table>
        <pagination total-items="AllIssues" ng-model="pageStart"
                    items-per-page="pageSize" ng-change="getCurrentUserIssues()"
                    max-size="9" boundary-links="true"
                    class="aligner">
        </pagination>
    </div>

    <div ng-if="authService.isAdmin()">
        <a class="btn btn-lg btn-success btn-add-project" href="#/projects/add">Add New Project</a>
        <a class="btn btn-lg btn-success btn-add-issue" href="#/projects/add-issue">Add New Issue</a>
    </div>


</div>
