<div ng-controller="IssueController" class="jumbotron table table-striped table-hover">
    <h1>Dashboard</h1>
    <div class="table-my-issues">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th class="issue-name">Issue</th>
                <th class="description">Description</th>
                <th class="project-name">Project</th>
                <th class="date">Due Date</th>
                <th class="status">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="issue in issues">
                <td class="hoverable" ng-click="viewIssue(issue.Id)">{{issue.Title}}</td>
                <td>{{issue.Description}}</td>
                <td class="hoverable" ng-click="viewProject(issue.Project.Id)">{{issue.Project.Name}}</td>
                <td>{{issue.DueDate | date:'dd-MM-yyyy'}}</td>
                <td>{{issue.Status.Name}}</td>
            </tr>
            </tbody>
        </table>
        <div class="pagination-div">
            <pagination total-items="totalIssues" ng-model="issueParams.startPage"
                        items-per-page="issueParams.pageSize" ng-change="getCurrentUserIssues()"
                        max-size="9" boundary-links="true"
                        class="aligner">
            </pagination>
        </div>
    </div>

    <div ng-if="authService.isAdmin()">
        <a class="btn btn-lg btn-success btn-add-project" href="#/projects/add">Add New Project</a>
        <a class="btn btn-lg btn-success btn-add-issue" href="#/my-projects">My Projects</a>
    </div>
</div>
