<div class="jumbotron table table-striped table-hover" style="height: 100%">
    <h1>Dashboard</h1>
    <div>
        <div>
            <h2>Affiliated Projects</h2>
            <div id="projects">dadadasdasda</div>
        </div>
        <table class="table table-striped table-hover table-my-issues">
            <thead>
            <tr>
                <td>Issue</td>
                <td>Description</td>
                <td>Project</td>
                <td>Due Date</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="issue in issues.Issues">
                <td>{{issue.Title}}</td>
                <td>{{issue.Description}}</td>
                <td>{{issue.Project.Name}}</td>
                <td>{{issue.DueDate}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
