<img src="app/images/softuni-code-wizard.png" alt="wizard-logo">
<h1>SoftUni Issue Tracker</h1>
<div class="well bs-component">
  <div class="form-group">
          <label for="inputUsername">
            Username
          </label>
          <input type="text" class="form-control" id="inputUsername" placeholder="Username">

          <label for="inputPassword">
            Password
          </label>

          <input type="password" class="form-control" id="inputPassword" placeholder="Password">

          <button type="submit" class="btn btn-success">Sign in</button>
  </div>
  <p class="register">
        New to SoftUni Issue Tracker?
        <a href="#/register">Please register</a>.
  </p>
</div>
