<div class="well bs-component">
    <form name="registerForm">
        <fieldset>
            <legend>Register</legend>
            <div>
                <label for="inputUsername">Username</label>
                <div>
                    <input type="email" class="form-control"  id="inputUsername" ng-model="registerData.Email" placeholder="Username" required="required">
                </div>
            </div>
            <div>
                <label for="inputPassword" >Password</label>
                <div>
                    <input type="password" class="form-control" minlength="6" maxlength="100" id="inputPassword" ng-model="registerData.Password" placeholder="Password" required="required">
                </div>
            </div>
            <div>
                <label for="confirmPassword">Confirm Password</label>
                <div >
                    <input type="password" class="form-control" minlength="6" maxlength="100" id="confirmPassword" ng-model="registerData.ConfirmPassword" placeholder="Confirm Password" required="required">
                </div>
            </div>
        </fieldset>
    </form>
    <div>
        <div class="register-btn">
            <button ng-disabled="registerForm.$invalid || registerData.Password != registerData.ConfirmPassword" ng-click="register(registerData)" type="submit" class="btn btn-success btn-register">Register</button>
            <a href="#/login" class="btn btn-primary">Cancel</a>

        </div>
    </div>
</div>